mediaTimeStamper.xcodeproj/project.xcworkspace/xcuserdata/yanikng.xcuserdatad/UserInterfaceState.xcuserstate
mediaTimeStamper.xcodeproj/project.xcworkspace/xcshareddata/
mediaTimeStamper.xcodeproj/xcuserdata/yanikng.xcuserdatad/xcdebugger/
